.menu {
    text-align: left;
    padding-left: 80px;
    font-size: 20px;
}

.content {
    background-color: white;
    color: black;
}

#account {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

#colorposter {
    padding-top: 50px;
}

#account div {
    margin-bottom: 10px;
}

#icon {
    max-height: 20px;
}