.menu {
    text-align: left;
    font-size: 20px;
}

.content {
    background-color: white;
    color: black;
}

#account {
    padding: 56px 50px 20px;
}

#icon-2 {
    max-height: 150px;
}

#files-submit {
    align-self: center;
}

#colorposter {
    padding-top: 50px;
}

#account div, #account ul {
    margin-bottom: 14px;
    list-style-type: none;
}

#menu div {
    color: white;
}

#menu li div {
    color: white;
    display: inline-block;
}

#icon {
    max-height: 50px;
}

#login {
    align-self: center;
    text-align: left;
}

.title {
    font-size: 25px;
}

.display-none {
    display: none;
}
.active-content {
    display: flex!important;
}
#content > div {
    display: none;
}